header {
    width: 100%;
    font-size: 1rem;
    margin-top: 8px;
    margin-bottom: auto;
    padding: 0px;
    background-color: slategray;
    /* line-height: 1.75rem; */
}

header h3 {
    margin-top: 1.5rem;
    /* line-height: 1rem; */
}

/* #start of navbar styling */

header nav {
    position: relative;
    max-width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    margin: 0 auto;
   
    font-family: 'Source Sans Pro', sans-serif;
}


.nav-name {
    
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    letter-spacing: 5px;
    font-size: 20px;
}

.navdesktop {
    display: flex;
    
}


/* transisi untuk hover */
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav .navdesktop li a {
    position: relative;
    z-index: 1;
    padding:8px;
}

nav .navdesktop li a:hover {
    color: rgba(149, 193, 240, 0.39);
}

nav .navdesktop li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: rgba(37, 56, 78, 0.466);
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav .navdesktop  li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.navdesktop li {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 3px;
    list-style: none;
    padding: 2rem;
}

.navdesktop a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

/* untuk navbar mobile */


.navmobile{
    display: flex;
    flex-direction: column;
}



.menuButton {
    display: none;
}

.menuButton div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: rgb(226, 226, 226);
    transition: all 0.2s ease;
}

/* menyembunyikan navbar mobile
di tampilan desktop */


@media screen and (max-width:1024px) {
    .navdesktop {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .navdesktop {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: slategray;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.4s ease-in;
    }
    .navdesktop li {
        opacity: 0;
    }
    .menuButton {
        display: block;
        cursor: pointer;
    }
}

.wrapmobile{
    display: none;
}

/* mengecek jika ukuran screen 
lebih kecil dari sekian piksel */
@media screen and (max-width:1000px) {
    .wrapmobile{
        display: flex;
    }

    .wrapdesktop{
        display:none;
    }

    header nav{
        max-width:100%;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
}

/* berotasi ke bawah */
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

/* animasi perlahan menghilang */
.toggle .line2 {
    transform: scale(0);
    /* opacity: 0; */
}

/* berotasi ke atas */
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* ---end of navbar styling--- */